<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RockerPercent</title>
    <link rel="stylesheet" href="../static/styles/style.css" />
  </head>
  <body>
    <div id="container">
      <h1>RockerPercent</h1>
      <h2>Quão rockeiro você é?</h2>

      <div id="sortable-container">
        <ul id="sortable">
          <li>
            <h2 alt="10">Anitta</h2>
            <img src="../static/img/anitta.jpg" />
          </li>
          <li>
            <h2 alt="9">MC Kevin o Chris</h2>
            <img src="../static/img/kevin.jpg" />
          </li>
          <li>
            <h2 alt="8">Gustavo Lima</h2>
            <img src="../static/img/gustavo.jpeg" />
          </li>
          <li>
            <h2 alt="7">Léo Santana</h2>
            <img src="../static/img/leo.jpg" />
          </li>
          <li>
            <h2 alt="6">Matuê</h2>
            <img src="../static/img/matue.jpg" />
          </li>
          <li>
            <h2 alt="5">João Gomes</h2>
            <img src="../static/img/joao.jpg" />
          </li>
          <li>
            <h2 alt="4">Péricles</h2>
            <img src="../static/img/pericles.jpg" />
          </li>
          <li>
            <h2 alt="3">Chico Buarque</h2>
            <img src="../static/img/chico.jpeg" />
          </li>
          <li>
            <h2 alt="2">Arctic Monkeys</h2>
            <img src="../static/img/arctic.jpg" />
          </li>

          <li>
            <h2 alt="1">Metallica</h2>
            <img src="../static/img/metallica.jpg" />
          </li>
        </ul>
      </div>
      <div class="box-resultado">
        <button id="submit-button">Enviar</button>

        <div id="result">
          {% if resultado %}
          <p>Number of inversions are: {{ resultado }}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <script src="../static/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
  </body>
</html>
