<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Perfil Musical</title>
  </head>

  <body>
    <div class="registration-form">
      <form action="/" method="post">
        <div class="container">
          <div class="option 1">
            <img src="../static/img/1.jpg" alt="1" height="200px" />
            <label for="pos1"></label>
            <select id="pos1" name="posicao">
              <option value="1">1º</option>
              <option value="2">2º</option>
              <option value="3">3º</option>
              <option value="4">4º</option>
              <option value="5">5º</option>
              <option value="6">6º</option>
              <option value="7">7º</option>
              <option value="8">8º</option>
              <option value="9">9º</option>
              <option value="10">10º</option>
            </select>
          </div>

          <div class="option 2">
            <img src="../static/img/1.jpg" alt="1" height="200px" />
            <label for="pos2"></label>
            <select id="pos2" name="posicao">
              <option value="1">1º</option>
              <option value="2">2º</option>
              <option value="3">3º</option>
              <option value="4">4º</option>
              <option value="5">5º</option>
              <option value="6">6º</option>
              <option value="7">7º</option>
              <option value="8">8º</option>
              <option value="9">9º</option>
              <option value="10">10º</option>
            </select>
          </div>

          <div class="option 3">
            <img src="../static/img/1.jpg" alt="1" height="200px" />
            <label for="pos3"></label>
            <select id="pos3" name="posicao">
              <option value="1">1º</option>
              <option value="2">2º</option>
              <option value="3">3º</option>
              <option value="4">4º</option>
              <option value="5">5º</option>
              <option value="6">6º</option>
              <option value="7">7º</option>
              <option value="8">8º</option>
              <option value="9">9º</option>
              <option value="10">10º</option>
            </select>
          </div>

          <div class="option 4">
            <img src="../static/img/1.jpg" alt="1" height="200px" />
            <label for="pos4"></label>
            <select id="pos4" name="posicao">
              <option value="1">1º</option>
              <option value="2">2º</option>
              <option value="3">3º</option>
              <option value="4">4º</option>
              <option value="5">5º</option>
              <option value="6">6º</option>
              <option value="7">7º</option>
              <option value="8">8º</option>
              <option value="9">9º</option>
              <option value="10">10º</option>
            </select>
          </div>

          <div class="option 5">
            <img src="../static/img/1.jpg" alt="1" height="200px" />
            <label for="pos5"></label>
            <select id="pos5" name="posicao">
              <option value="1">1º</option>
              <option value="2">2º</option>
              <option value="3">3º</option>
              <option value="4">4º</option>
              <option value="5">5º</option>
              <option value="6">6º</option>
              <option value="7">7º</option>
              <option value="8">8º</option>
              <option value="9">9º</option>
              <option value="10">10º</option>
            </select>
          </div>

          <div class="option 6">
            <img src="../static/img/1.jpg" alt="1" height="200px" />
            <label for="pos6"></label>
            <select id="pos6" name="posicao">
              <option value="1">1º</option>
              <option value="2">2º</option>
              <option value="3">3º</option>
              <option value="4">4º</option>
              <option value="5">5º</option>
              <option value="6">6º</option>
              <option value="7">7º</option>
              <option value="8">8º</option>
              <option value="9">9º</option>
              <option value="10">10º</option>
            </select>
          </div>

          <div class="option 7">
            <img src="../static/img/1.jpg" alt="1" height="200px" />
            <label for="pos7"></label>
            <select id="pos7" name="posicao">
              <option value="1">1º</option>
              <option value="2">2º</option>
              <option value="3">3º</option>
              <option value="4">4º</option>
              <option value="5">5º</option>
              <option value="6">6º</option>
              <option value="7">7º</option>
              <option value="8">8º</option>
              <option value="9">9º</option>
              <option value="10">10º</option>
            </select>
          </div>

          <div class="option 8">
            <img src="../static/img/1.jpg" alt="1" height="200px" />
            <label for="pos8"></label>
            <select id="pos8" name="posicao">
              <option value="1">1º</option>
              <option value="2">2º</option>
              <option value="3">3º</option>
              <option value="4">4º</option>
              <option value="5">5º</option>
              <option value="6">6º</option>
              <option value="7">7º</option>
              <option value="8">8º</option>
              <option value="9">9º</option>
              <option value="10">10º</option>
            </select>
          </div>

          <div class="option 9">
            <img src="../static/img/1.jpg" alt="1" height="200px" />
            <label for="pos9"></label>
            <select id="pos9" name="posicao">
              <option value="1">1º</option>
              <option value="2">2º</option>
              <option value="3">3º</option>
              <option value="4">4º</option>
              <option value="5">5º</option>
              <option value="6">6º</option>
              <option value="7">7º</option>
              <option value="8">8º</option>
              <option value="9">9º</option>
              <option value="10">10º</option>
            </select>
          </div>

          <div class="option 10">
            <img src="../static/img/1.jpg" alt="1" height="200px" />
            <label for="pos10"></label>
            <select id="pos10" name="posicao">
              <option value="1">1º</option>
              <option value="2">2º</option>
              <option value="3">3º</option>
              <option value="4">4º</option>
              <option value="5">5º</option>
              <option value="6">6º</option>
              <option value="7">7º</option>
              <option value="8">8º</option>
              <option value="9">9º</option>
              <option value="10">10º</option>
            </select>
          </div>
        </div>

        <input type="submit" class="btn btn-block send" value="Enviar">
        {% if inversions != None %}
            <div class="alert alert-danger" role="alert">
                {{ inversions }}
            </div>
            {% endif %}
      </form>
    </div>
  </body>
</html>
