.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: column;
    grid-template-areas:
      ". . . . . ."
      ". . . . . .";
    width: 100%;
  }

  .option{
    border: solid 2px #000000;

  }

  .option img{
    border-radius: 8px;
  }

  